
/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+css-extras+jsx+tsx+typescript+typoscript&plugins=line-numbers+previewers+autoloader+toolbar+copy-to-clipboard */
code[class*=language-],pre[class*=language-]{color:#000;background:0 0;text-shadow:0 1px #fff;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{text-shadow:none;background:#b3d4fc}code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{text-shadow:none;background:#b3d4fc}@media print{code[class*=language-],pre[class*=language-]{text-shadow:none}}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#f5f2f0}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#708090}.token.punctuation{color:#999}.token.namespace{opacity:.7}.token.boolean,.token.constant,.token.deleted,.token.number,.token.property,.token.symbol,.token.tag{color:#905}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#690}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url{color:#9a6e3a;background:hsla(0,0%,100%,.5)}.token.atrule,.token.attr-value,.token.keyword{color:#07a}.token.class-name,.token.function{color:#dd4a68}.token.important,.token.regex,.token.variable{color:#e90}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}
pre[class*=language-].line-numbers{position:relative;padding-left:3.8em;counter-reset:linenumber}pre[class*=language-].line-numbers>code{position:relative;white-space:inherit}.line-numbers .line-numbers-rows{position:absolute;pointer-events:none;top:0;font-size:100%;left:-3.8em;width:3em;letter-spacing:-1px;border-right:1px solid #999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.line-numbers-rows>span{display:block;counter-increment:linenumber}.line-numbers-rows>span:before{content:counter(linenumber);color:#999;display:block;padding-right:.8em;text-align:right}
.prism-previewer,.prism-previewer:after,.prism-previewer:before{position:absolute;pointer-events:none}.prism-previewer,.prism-previewer:after{left:50%}.prism-previewer{margin-top:-48px;width:32px;height:32px;margin-left:-16px;z-index:10;opacity:0;-webkit-transition:opacity .25s;-o-transition:opacity .25s;transition:opacity .25s}.prism-previewer.flipped{margin-top:0;margin-bottom:-48px}.prism-previewer:after,.prism-previewer:before{content:'';position:absolute;pointer-events:none}.prism-previewer:before{top:-5px;right:-5px;left:-5px;bottom:-5px;border-radius:10px;border:5px solid #fff;box-shadow:0 0 3px rgba(0,0,0,.5) inset,0 0 10px rgba(0,0,0,.75)}.prism-previewer:after{top:100%;width:0;height:0;margin:5px 0 0 -7px;border:7px solid transparent;border-color:rgba(255,0,0,0);border-top-color:#fff}.prism-previewer.flipped:after{top:auto;bottom:100%;margin-top:0;margin-bottom:5px;border-top-color:rgba(255,0,0,0);border-bottom-color:#fff}.prism-previewer.active{opacity:1}.prism-previewer-angle:before{border-radius:50%;background:#fff}.prism-previewer-angle:after{margin-top:4px}.prism-previewer-angle svg{width:32px;height:32px;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg)}.prism-previewer-angle[data-negative] svg{-webkit-transform:scaleX(-1) rotate(-90deg);-moz-transform:scaleX(-1) rotate(-90deg);-ms-transform:scaleX(-1) rotate(-90deg);-o-transform:scaleX(-1) rotate(-90deg);transform:scaleX(-1) rotate(-90deg)}.prism-previewer-angle circle{fill:transparent;stroke:#2d3438;stroke-opacity:.9;stroke-width:32;stroke-dasharray:0,500}.prism-previewer-gradient{background-image:linear-gradient(45deg,#bbb 25%,transparent 25%,transparent 75%,#bbb 75%,#bbb),linear-gradient(45deg,#bbb 25%,#eee 25%,#eee 75%,#bbb 75%,#bbb);background-size:10px 10px;background-position:0 0,5px 5px;width:64px;margin-left:-32px}.prism-previewer-gradient:before{content:none}.prism-previewer-gradient div{position:absolute;top:-5px;left:-5px;right:-5px;bottom:-5px;border-radius:10px;border:5px solid #fff;box-shadow:0 0 3px rgba(0,0,0,.5) inset,0 0 10px rgba(0,0,0,.75)}.prism-previewer-color{background-image:linear-gradient(45deg,#bbb 25%,transparent 25%,transparent 75%,#bbb 75%,#bbb),linear-gradient(45deg,#bbb 25%,#eee 25%,#eee 75%,#bbb 75%,#bbb);background-size:10px 10px;background-position:0 0,5px 5px}.prism-previewer-color:before{background-color:inherit;background-clip:padding-box}.prism-previewer-easing{margin-top:-76px;margin-left:-30px;width:60px;height:60px;background:#333}.prism-previewer-easing.flipped{margin-bottom:-116px}.prism-previewer-easing svg{width:60px;height:60px}.prism-previewer-easing circle{fill:#2d3438;stroke:#fff}.prism-previewer-easing path{fill:none;stroke:#fff;stroke-linecap:round;stroke-width:4}.prism-previewer-easing line{stroke:#fff;stroke-opacity:.5;stroke-width:2}@-webkit-keyframes prism-previewer-time{0%{stroke-dasharray:0,500;stroke-dashoffset:0}50%{stroke-dasharray:100,500;stroke-dashoffset:0}100%{stroke-dasharray:0,500;stroke-dashoffset:-100}}@-o-keyframes prism-previewer-time{0%{stroke-dasharray:0,500;stroke-dashoffset:0}50%{stroke-dasharray:100,500;stroke-dashoffset:0}100%{stroke-dasharray:0,500;stroke-dashoffset:-100}}@-moz-keyframes prism-previewer-time{0%{stroke-dasharray:0,500;stroke-dashoffset:0}50%{stroke-dasharray:100,500;stroke-dashoffset:0}100%{stroke-dasharray:0,500;stroke-dashoffset:-100}}@keyframes prism-previewer-time{0%{stroke-dasharray:0,500;stroke-dashoffset:0}50%{stroke-dasharray:100,500;stroke-dashoffset:0}100%{stroke-dasharray:0,500;stroke-dashoffset:-100}}.prism-previewer-time:before{border-radius:50%;background:#fff}.prism-previewer-time:after{margin-top:4px}.prism-previewer-time svg{width:32px;height:32px;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg)}.prism-previewer-time circle{fill:transparent;stroke:#2d3438;stroke-opacity:.9;stroke-width:32;stroke-dasharray:0,500;stroke-dashoffset:0;-webkit-animation:prism-previewer-time linear infinite 3s;-moz-animation:prism-previewer-time linear infinite 3s;-o-animation:prism-previewer-time linear infinite 3s;animation:prism-previewer-time linear infinite 3s}
div.code-toolbar{position:relative}div.code-toolbar>.toolbar{position:absolute;z-index:10;top:.3em;right:.2em;transition:opacity .3s ease-in-out;opacity:0}div.code-toolbar:hover>.toolbar{opacity:1}div.code-toolbar:focus-within>.toolbar{opacity:1}div.code-toolbar>.toolbar>.toolbar-item{display:inline-block}div.code-toolbar>.toolbar>.toolbar-item>a{cursor:pointer}div.code-toolbar>.toolbar>.toolbar-item>button{background:0 0;border:0;color:inherit;font:inherit;line-height:normal;overflow:visible;padding:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none}div.code-toolbar>.toolbar>.toolbar-item>a,div.code-toolbar>.toolbar>.toolbar-item>button,div.code-toolbar>.toolbar>.toolbar-item>span{color:#bbb;font-size:.8em;padding:0 .5em;background:#f5f2f0;background:rgba(224,224,224,.2);box-shadow:0 2px 0 0 rgba(0,0,0,.2);border-radius:.5em}div.code-toolbar>.toolbar>.toolbar-item>a:focus,div.code-toolbar>.toolbar>.toolbar-item>a:hover,div.code-toolbar>.toolbar>.toolbar-item>button:focus,div.code-toolbar>.toolbar>.toolbar-item>button:hover,div.code-toolbar>.toolbar>.toolbar-item>span:focus,div.code-toolbar>.toolbar>.toolbar-item>span:hover{color:inherit;text-decoration:none}
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --background: #3494e6;
  --foreground: #3494e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3494e6;
    --foreground: #3494e6;
  }
}



a:any-link {
  color: currentColor;
}
/* Keyframes for gradient animation */

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

body {
  background: #3494e6;
  /* fallback for old browsers */
  background: -webkit-radial-gradient(#ec6ead, #3494e6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-radial(#ec6ead, #3494e6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 150% 150%;
  background-position: 0% 75%;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  height: 100dvh;
  scroll-snap-type: y mandatory;
  scroll-behavior: auto;
  overflow-y: auto;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  z-index: 0;
  /* height: 100%; */
  position: relative;
  scroll-snap-type: y mandatory;
  scroll-behavior: auto;
}

.app-ctn {
  position: relative;
  flex-grow: 1;
  min-height: 100dvh;
  max-height: fit-content;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-inline: 6vw;
  padding-block: 10vh 2.5vh;
  justify-content: space-between;
  overflow-y: hidden;
  overflow-x: hidden;
  /* background-color: black; */
  /* z-index: 5; */
  pointer-events: all;
  scroll-snap-align: start;

  @media screen and (min-width: 769px) {
    text-align: center;
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    padding-inline: 6vw;
    padding-block: 10vh;
  }

  @media screen and (min-width: 1025px) {
    padding-block: 10vh;
  }
}
.sdlc-section {
  min-height: 125dvh;
  max-height: 150dvh;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scroll-ctn-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  /* min-height: 100%; */
  display: flex;
}

.card-wrapper {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 2vh;
  border-radius: 25px;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-shadow: 2px 2px 5px #0a0a0a8d;

  @media screen and (min-width: 769px) {
    width: 75vw;
  }

  @media screen and (min-width: 1025px) {
    width: 33vw;
  }
}

.btm-hero-ctn-wrapper {
  z-index: 1;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.header-wrapper {
  text-align: left;
}
.snap-x-wrapper {
  height: 100%;
  padding-block: 5vh;
  padding-inline: 6vw;
  min-width: 100%;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  scroll-behavior: smooth;
  @media screen and (min-width: 769px) {
    padding-inline: 0;
  }
  @media screen and (min-width: 1033px) {
    margin-right: 16.5vw;
    min-width: fit-content;
  }
}
.snap-x-wrapper#category-card {
  @media screen and (min-width: 1033px) {
    width: 25vw;
    margin-right: 16.5vw;
    /* min-width: fit-content; */
  }
}

div.snap-x-wrapper#programmer-approach-solid-hero {
  min-width: 100%;
  padding-inline: 6vw;
  display: flex;
  gap: 6vw;

  justify-content: center;

  /* align-items: center; */
  @media screen and (min-width: 1025px) {
    width: fit-content;
    padding-inline: 6vw;
  }
}
.subheader-text {
  font-weight: bold;
}

.btn-ctn {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 3vw;
  z-index: 100;
  justify-content: center;
  position: relative;
  align-items: center;

  /* bottom: 10vh; */
  @media screen and (min-width: 769px) {
    justify-content: center;
  }
}

.btn-ctn#case-studies {
  overflow-x: auto;
  width: 100%;
  padding-inline: 6vw;
}

.posts-ctn {
  min-height: min-content;
  width: 100%;
  flex-grow: 1;
}

.posts-ctn#blog-home {
  height: 60vh;
}

.btn-pro-wrapper {
  backdrop-filter: blur(5px);
  background-color: #f5f5f517;
  border-radius: 50px;
  padding: 7.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  cursor: pointer;
}

.blur-wrapper {
  backdrop-filter: blur(5px);
  background-color: #f5f5f517;
  border-radius: 50px;
  padding: 25px;
  z-index: 2;
}

.scroll-to-arrow {
  font-size: 4rem;
}
.left {
  text-align: left;
  justify-content: start;
  @media screen and (min-width: 769px) {
    padding-inline-end: 60%;
  }
}
.left-header {
  text-align: left;
  justify-content: start;
}

.left-btn-ctn {
  text-align: left !important;
  display: flex;
  justify-content: flex-start !important;
}

.right {
  text-align: right !important;
  justify-content: end !important;
  @media screen and (min-width: 769px) {
    padding-inline-start: 60%;
  }
}
.right-header {
  text-align: right !important;
  justify-content: end !important;
}

.right-btn-ctn {
  text-align: right !important;
  display: flex;
  justify-content: end !important;
}

.down {
  transform: scale(-1);
}

.overview-ctn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  @media screen and (min-width: 769px) {
    padding-inline: 12%;
  }
}

.current-path {
  /* font-weight: bold; */
  background: linear-gradient(
    to right,
    #152331,#000000
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
  @media screen and (min-width:1033px) {
    font-weight: bold;
  }
}
@keyframes glow-animation {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 7px #e5e5e5, 0 0 9px #c8c8c8,
      0 0 11px #b1b1b1;
  }

  50% {
    text-shadow: 0 0 10px #fff, 0 0 12px #e5e5e5, 0 0 17px #c8c8c8,
      0 0 24px #b1b1b1;
  }

  100% {
    text-shadow: 0 0 5px #fff, 0 0 7px #e5e5e5, 0 0 9px #c8c8c8,
      0 0 11px #b1b1b1;
  }
}
.current-path::after {
  /* text-shadow: 0 0 9px #fff, 0 0 12px #e5e5e5, 0 0 15px #82e6fd; */
  /* padding-left: 5vw; */
  top: 0;
  /* left: 0; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  filter: blur(1px);
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  content: attr(data-content);
  animation: glow-animation 2s ease-in-out infinite alternate;
  @media screen and (min-width:768){
    left: 0;
  }
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
