




.bioFlexCtn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 3vw;
}

.bioTxtCtn {

    
    @media screen and (max-width:768px) {
        z-index: 1;
    }
    @media screen and (min-width:769px) {
    width: 40%;
    }
}

.bioBioTxt {

    @media screen and (max-width:768px) {
        height: 40vh;
    }
    white-space: pre-line;
    text-align: left;
    max-height: 50vh;
    overflow-y: auto;
}



/* bio image css */

.bioImgWrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: absolute;
    top:0;
    width: 100%;
    height:100vh;

    @media screen and (min-width:769px) {
        max-width: 33vw;
        position: relative;
        height: auto;
    }
}

.bioImgMain {
    object-fit: cover;
    width: 100%;
    @media screen and (min-width:769px) {
    width: 33vw;
    }

}